<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slagalica"
        tools:targetApi="31">



        <activity
            android:name=".activities.KoZnaZna"
            android:exported="true" />

        <activity
            android:name=".activities.KorakPoKorak"
            android:exported="false" />
        <activity
            android:name=".activities.AsocijacijeSinglePlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SkockoSinglePlayerActivity"
            android:exported="false" />

        <activity
            android:name=".activities.MojBrojActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SpojniceSinglePlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SpojniceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SinglePlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainWindowActivity"
            android:exported="false"
            android:label="@string/title_activity_main_window"
            android:theme="@style/Theme.Slagalica" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Slagalica">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>